---
title: Product
layout: ./app/layout/layout.ejs
engine: ejs
page: product
---

<section class="container pt-4 pb-4 pt-lg-7 pb-lg-7">
  <h1 class="title font-raleway fsz-5 fsz-md-6 mb-4 text-dark">後台</h1>
  <div class="card">
    <div class="card-body">
      <h3 v-if="!isAuthenticated">請先登入</h3>
      <!-- create Btn -->
      <template  v-else>
        <div class="d-flex justify-content-md-between pr-3 mb-4">
          <h2 class="h6 text-secondary">產品清單</h2>
          <button
            class="btn btn-outline-secondary rounded-pill shadow-sm text-primary"
            type="button"
            aria-controls="modifyProductItem"
            @click="handleProductItem"
          >
            建立新的產品
          </button>
        </div>
        <table class="table caption-top">
          <thead>
            <tr>
              <th scope="col">產品名稱</th>
              <th scope="col">原價</th>
              <th scope="col">售價</th>
              <th scope="col">是否啟用</th>
              <th scope="col">刪除</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="isLoading">
              <td class="text-center text-muted" colspan="5">
                <img
                  width="100"
                  src="https://media.giphy.com/media/wnYB3vx9t6PXiq1ubB/giphy.gif"
                />
              </td>
            </tr>
            <template v-else>
              <tr v-for="item in products" :key="item.id">
                <td>{{item.title}}</td>
                <td>$ {{item.origin_price}}</td>
                <td>$ {{item.price}}</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      :checked="item.is_enabled"
                      @change="toggleProductItemStatus(item.id)"
                    />
                  </div>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-primary me-1"
                    data-action="remove"
                    @click="handleProductItem(item.id)"
                  >
                    編輯
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    data-action="remove"
                    @click="deleteProductItem(item.id)"
                  >
                    刪除
                  </button>
                </td>
              </tr>
              <!-- no data -->
              <tr
                v-if="products.length === 0"
                class="text-center text-muted"
                colspan="5">
                  <td class="text-center text-muted" colspan="5">無商品 / ㄏ</td>
                </tr>
              </td>
            </template>
          </tbody>
        </table>
        <p>目前有 <span>{{products.length}}</span> 項產品</p>
      </template>
    </div>
  </div>
</section>

<div
  :ref="refName.productCanvasoff"
  class="offcanvas offcanvas-end"
  data-bs-backdrop="false"
  tabindex="-1"
  aria-labelledby="createItemLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="createItemLabel">產品資訊</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form @submit.prevent="submitProductItem" class="row g-3 align-items-end">
      <div class="col-md-12">
        <label for="title" class="form-label">產品名稱</label>
        <input
          type="text"
          class="form-control"
          id="title"
          v-model="currentProductItem.title"
        />
      </div>

      <div class="col-12">
        <label for="description" class="form-label">描述</label>
        <textarea
          class="form-control"
          id="description"
          placeholder="描述"
          row="3"
          v-model="currentProductItem.description"
        ></textarea>
      </div>
      <div class="col-12">
        <label for="content" class="form-label">內容</label>
        <textarea
          class="form-control"
          id="content"
          placeholder="內容"
          row="3"
          v-model="currentProductItem.content"
        ></textarea>
      </div>

      <div class="col-md-6">
        <label for="originPrice" class="form-label">原價</label>
        <input
          type="number"
          class="form-control"
          id="originPrice"
          v-model.number="currentProductItem.origin_price"
        />
      </div>
      <div class="col-md-6">
        <label for="price" class="form-label">售價</label>
        <input
          type="number"
          class="form-control"
          id="price"
          v-model.number="currentProductItem.price"
        />
      </div>
      <div class="col-md-4">
        <label for="category" class="form-label">類別</label>
        <input
          type="text"
          class="form-control"
          id="category"
          v-model="currentProductItem.category"
        />
      </div>
      <div class="col-md-4">
        <label for="unit" class="form-label">單位</label>
        <input
          type="text"
          class="form-control"
          id="unit"
          v-model="currentProductItem.unit"
        />
      </div>
      <div class="col-md-4">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="isEnabled"
            v-model="currentProductItem.is_enabled"
          />
          <label class="form-check-label" for="isEnabled"> 啟用 </label>
        </div>
      </div>
      <!-- 圖片 -->
      <div class="col-md-12">
        <label class="form-label">主要圖片</label>
        <img
          :src="currentProductItem.imageUrl"
          alt=""
          v-if="currentProductItem.imageUrl"
        />
        <input
          type="text"
          class="form-control"
          v-model.trim="currentProductItem.imageUrl"
        />
      </div>
      <div
        class="col-md-6"
        v-for="(img, idx) in currentProductItem.imagesUrl"
        :key="`img${idx}`"
      >
        <label class="form-label">縮圖{{idx + 1}}</label>
        <img v-if="img" :src="img" alt="暫時無圖片" />
        <input type="text" class="form-control" v-model.trim="img" />
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary text-white">
          新增/編輯
        </button>
        <!-- <button class="btn btn-primary" type="button" disabled>
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="visually-hidden">Loading...</span>
        </button> 
        -->
      </div>
    </form>
  </div>
</div>
