$primary: #eecda3; // $blue !default;
$secondary: #858377; // $gray-600 !default;

$danger: #ffbbb9;
$info: #ffefdb;

// Links
// Style anchor elements.

$link-color: #636057;
$link-decoration: none;
