<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/style/all.css" />
  </head>

  <body>
    <div id="app" class="min-vh-100">
      <header class="navbar navbar-expand-sm navbar-light bg-secondary shadow-sm sticky-top">
        <nav class="container">
          <a class="navbar-brand" href="#">
            <img src="./assets/img/logo.svg" alt="logo" width="40">
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item" v-if="!isAuthenticated">
                <a href="#" class="btn btn-primary btn-sm text-white" @click="toggleLoginModal">登入</a>
              </li>
              <li class="nav-item" v-else>
                <button class="btn btn-outline-primary btn-sm" @click="handleLogout">登出</button>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <main>
<section class="container pt-4 pb-4 pt-lg-7 pb-lg-7">
  <h1 class="title font-raleway fsz-5 fsz-md-6 mb-4 text-dark">後台</h1>
  <div class="card">
    <div class="card-body">
      <h3 v-if="!isAuthenticated">請先登入</h3>
      <!-- create Btn -->
      <template  v-else>
        <div class="d-flex justify-content-md-between pr-3 mb-4">
          <h2 class="h6 text-secondary">產品清單</h2>
          <button
            class="btn btn-outline-secondary rounded-pill shadow-sm text-primary"
            type="button"
            aria-controls="modifyProductItem"
            @click="handleProductItem(null)"
          >
            建立新的產品
          </button>
        </div>
        <table class="table caption-top">
          <thead>
            <tr>
              <th scope="col">產品名稱</th>
              <th scope="col">評價</th>
              <th scope="col">原價</th>
              <th scope="col">售價</th>
              <th scope="col">是否啟用</th>
              <th scope="col">刪除</th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="isLoading">
              <td class="text-center text-muted" colspan="5">
                <img
                  width="100"
                  src="https://media.giphy.com/media/wnYB3vx9t6PXiq1ubB/giphy.gif"
                />
              </td>
            </tr>
            <template v-else>
              <tr v-for="item in products" :key="item.id">
                <td>{{item.title}}</td>
                <td>{{item.rate || '-'}}</td>
                <td>$ {{item.origin_price}}</td>
                <td>$ {{item.price}}</td>
                <td>
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      :checked="item.is_enabled"
                      @change="toggleProductItemStatus(item)"
                    />
                  </div>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-primary me-1"
                    data-action="remove"
                    @click="handleProductItem(item)"
                  >
                    編輯
                  </button>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    data-action="remove"
                    @click="deleteProductItem({id: item.id, title: item.title})"
                  >
                    刪除
                  </button>
                </td>
              </tr>
              <!-- no data -->
              <tr
                v-if="products.length === 0"
                class="text-center text-muted"
                colspan="5">
                  <td class="text-center text-muted" colspan="5">無商品 / ㄏ</td>
                </tr>
              </td>
            </template>
          </tbody>
        </table>
        <div class="d-flex justify-content-md-between">
          <p>目前有 <span>{{products.length}}</span> 項產品</p>
          <page :page-info="pageInfo" @change-page="changePage"></page>
        </div>
      </template>
    </div>
  </div>
</section>

<product-canvasoff
  :ref="refName.productCanvasoff"
  :product-item="currentProductItem"
  @submit-product-item="updateProductItem"
>
</product-canvasoff>

<the-login
  :ref="refName.loginModal"
  @handle-login-success="handleLoginSuccess"
>
</the-login></main>
      <footer class="container py-3">
        <p class="text-center">
          © 2021. All Rights Reserved.
        </p>
      </footer>

    </div>

    <script type="text/x-template" id="productCanvasoff">
      <div
        :ref="refProductCanvas"
        class="offcanvas offcanvas-end"
        data-bs-backdrop="false"
        tabindex="-1"
        aria-labelledby="createItemLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="createItemLabel">產品資訊</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <form @submit.prevent="submitProductItem" class="row g-3 align-items-end">
            <div class="col-md-12">
              <label for="title" class="form-label">產品名稱</label>
              <input
                type="text"
                class="form-control"
                id="title"
                v-model="currentProductItem.title"
              />
            </div>
      
            <div class="col-12">
              <label for="description" class="form-label">描述</label>
              <textarea
                class="form-control"
                id="description"
                placeholder="描述"
                row="3"
                v-model="currentProductItem.description"
              ></textarea>
            </div>
            <div class="col-12">
              <label for="content" class="form-label">內容</label>
              <textarea
                class="form-control"
                id="content"
                placeholder="內容"
                row="3"
                v-model="currentProductItem.content"
              ></textarea>
            </div>
      
            <div class="col-md-6">
              <label for="originPrice" class="form-label">原價</label>
              <input
                type="number"
                class="form-control"
                id="originPrice"
                v-model.number="currentProductItem.origin_price"
              />
            </div>
            <div class="col-md-6">
              <label for="price" class="form-label">售價</label>
              <input
                type="number"
                class="form-control"
                id="price"
                v-model.number="currentProductItem.price"
              />
            </div>
            <div class="col-md-4">
              <label for="category" class="form-label">類別</label>
              <input
                type="text"
                class="form-control"
                id="category"
                v-model="currentProductItem.category"
              />
            </div>
            <div class="col-md-4">
              <label for="unit" class="form-label">單位</label>
              <input
                type="text"
                class="form-control"
                id="unit"
                v-model="currentProductItem.unit"
              />
            </div>
            <div class="col-md-4">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="isEnabled"
                  v-model="currentProductItem.is_enabled"
                />
                <label class="form-check-label" for="isEnabled"> 啟用 </label>
              </div>
            </div>
            <div class="col-md-12">
              <label for="rate" class="form-label">評價 - {{currentProductItem.rate}}</label>
              <input type="range" class="custom-range w-100" min="0" max="5" step="0.5" id="rate" v-model="currentProductItem.rate">
            </div>
            <!-- 圖片 -->
            <div class="col-md-12">
              <label class="form-label" for="imageUrl">主要圖片</label>
              <img
                :src="currentProductItem.imageUrl"
                alt=""
                v-if="currentProductItem.imageUrl"
              />
              <input
                id="imageUrl"
                type="text"
                class="form-control"
                v-model.trim="currentProductItem.imageUrl"
              />
            </div>
            <div
              class="col-md-6"
              v-for="(img, idx) in currentProductItem.imagesUrl"
              :key="`img${idx}`"
            >
              <label :for="`thumbnail${idx}`" class="form-label">縮圖{{idx + 1}}</label>
              <img v-if="img" :src="img" alt="暫時無圖片" />
              <input :id="`thumbnail${idx}`" type="text" class="form-control" v-model.trim="currentProductItem.imagesUrl[idx]" />
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary text-white w-100 rounded-pill">
                新增/編輯
              </button>
            </div>
          </form>
        </div>
      </div>
    </script>

    <script type="text/x-template" id="page">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button
          type="button"
          class="btn btn-outline-secondary"
          :disabled="!pageInfo.has_pre"
          @click="changePage(pageInfo.current_page - 1)"
        >
          &lt;
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          :class="{active: num === pageInfo.current_page}"
          v-for="num in pageInfo.total_pages"
          :key="`page${num}`"
          @click="changePage(num)"
        >{{num}}</button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          :disabled="!pageInfo.has_next"
          @click="changePage(pageInfo.current_page + 1)"
        >
          &gt;
        </button>
      </div>
    </script>

    <script type="text/x-template" id="theLogin">
      <!-- Modal -->
      <div :ref="refLoginModal" class="modal fade" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form @submit.prevent="handleLogin" id="js-loginForm">
                <h3 class="text-center">登入</h3>
                <div class="mb-3">
                  <label for="js-loginEmail" class="form-label">帳號</label>
                  <input id="js-loginEmail" type="email" class="form-control" v-model.trim="login.username" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label for="js-loginPassword" class="form-label">密碼</label>
                  <input id="js-loginPassword" type="password" class="form-control" v-model.trim="login.password" required>
                </div>
                <button type="submit" class="btn btn-primary text-white m-auto d-block">送出</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </script>



    <!-- canvasoff -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="assets/js/vendors.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>
